<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Se prohibe el acceso a esta parte del Portal a 
    todos los usuarios Anonimos. Solo se permitiran
    usuarios registrados con los Roles: Administrador
-->
<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="administrador"/>
        <deny roles="registrado, experto, editor, reporter"/>
      </authorization>
    </system.web>
</configuration>
